*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background-color:cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 500;
}
.navbar > a{
    text-decoration: none;
    font-size: large;
    color:#fff;
    margin-left: 50px;
}
.container{
    height: 661px;
    background-color:cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    height: 400px;
    width: 300px;
    background-color:#fff;
    overflow: hidden;
    border-radius: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 13px 1px #bbb;
}
.main{
    height: 20rem;
    width: 15rem;
    padding-top:20px;
    padding-left: 20px;
}
.main label{
    color: black;
    font-weight: 100;
    font-size:larger;
    font-family:'Times New Roman', Times, serif;
    padding-bottom:5px;
    font-style:normal;
}
.main input{
    width: 90%;
    padding: 15px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border:2px solid #bbb;
    border-radius: 10px;
}
.displaytodo{
    height: 15rem;
    width: 13rem;
    background-color: #bbb;
}